body{
  margin:0;
  padding:0;
  min-height:100vh;
  background-image: linear-gradient(to left top, #761abf, #663fd0, #5557dd, #436be6, #357ded);
}

#root{
  overflow: hidden;
}

html{
 scroll-behavior: smooth;
}

.App{
  display: block;
  min-width:100vw;
  min-height:100vh;
}

.Desktop{
  display:none;
  min-width:100vw;
  min-height:100vh;
}

.Card{
  position: relative;
  width: 80vw;
  height: 80vh;
  background-color: white;
  border-radius:40px;
  transition: all .5s;
  margin:1em auto;
  overflow: hidden;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.16);
}

.toggler, .toggle{
  position: absolute;
  width:50px;
  height:50px;;
  padding:0;
  margin:0;
  bottom:40px;
  right: 40px;
  z-index:10;
}

.toggler{
  opacity:0;
  z-index:12;
}

.toggle{
  font-family: 'Roboto', sans-serif;
  color: #381b44;
  text-align: center;
  font-size:36px;
  line-height: 50px;
  background:white;
  box-shadow: 0 0 0 0px white;
  border-radius: 50%;
  transition: all .5s;
}

.toggler:checked ~ .toggle{
  box-shadow: 0 0 0 80vh white;
  background: linear-gradient(90deg, #381B44 0%, #6046A9 100%);
  color:white;
  transform: rotateZ(225deg);
}

.imgBox, .details{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

 .imgBox img, .slide-img{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  height:100%;
}

.details{
  opacity: 0;
  z-index:11;
  transition: .7s;
}

.toggler:checked ~ .details{
  opacity:1;
}

.cont{
  width:100%;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-family: 'Roboto', sans-serif;
  color: #381b44;
  font-weight: bold;
  text-align: center;
  font-size:28px;
  padding: 0;
  margin:0;
}

.more-btn:focus, .btn-container button:focus{
  outline:none;
}

.more-btn{
  background: linear-gradient(287.16deg, #381B44 6.87%, #6046A9 93.58%);
  color: white;
  border:none;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  padding:10px;
  font-size:20px;
  transition: all .5s;
}

.more-btn:focus, .more-btn:hover{
  color:#381B44;
  background:white;
  border:2px solid #381B44;
}

.btn-container button:focus{
  color:white;
  background:#381B44;
}

.btn-container{
  position: absolute;
  left:50%;
  bottom:0;
  transform: translateX(-50%);
  z-index:2;
}
.btn-container button{
  color: #381B44;
  background: white;
  border:2px solid #381B44;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding:10px;
  font-size:20px;
  z-index:2;
  margin: 0;
  transition: all .5s;
}

.btn-container button:first-child{
  border-radius: 20px 0 0 20px;
}

.btn-container button:nth-child(2){
  border-radius: 0 20px 20px 0;
  border-left:none;
}

.searchBar{
  margin: 1em auto;
  width: 80vw;
  background: white;
  border-radius:30px; 
  color: #381b44;
  padding-left:5px;
}

.searchBar input{
  width: 80%;
  padding-left:10px;
  font-size: 1.5em;
  border-radius:20px;
  border:none;
  background: none;
  color: #381b44;
  font-family: 'Roboto', sans-serif;
}

.searchBar input:focus{
  outline: none;
}
::placeholder{
  color: #381b44;
  opacity:0.7;
}

.nav{
  border-bottom: 2px solid white;
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.nav:after, .nav:before{
  content:'';
  display:table;
}

.nav:after{
  clear:both;
}

.nav h2{
  font-family: 'Roboto', sans-serif;
  font-size:2em;
  color:white;
  padding:0;
  margin:0;
  float:left;
}

.nav ul{
  list-style-type: none;
  padding:0;
  margin:0;
  margin-left:5px;
}

.nav li{
  float:right;
  margin:5px;
  margin-right:1em;
}

.nav li a{
  color:white;
  font-family: 'Roboto', sans-serif;
}

.contact-desktop-link{
  display:none;
}

.swiper-container{
  width: 80vw;
  height: 80vh;
  border-radius:40px;
  margin: 1em auto;
  transition: display .5s;
}



.hide{
  height:0;
}

.profile{
  border-radius:50%;
  margin: 0 auto;
  width:75%;
}
 
.flex{
  display: flex;
  flex-direction: column;
  overflow: scroll; 
}

.Card h2{
  text-align: center;
  color: #381B44;
  margin-bottom:.5em;
}

.contact-info p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #381B44;
  font-size:1.15em;
}

.contact-info a{
  color: #381B44;
}

.contact-info a:visited{
  color: #381B44;
}

.contact-info a:focus svg{
  color:white;
  background:#381B44;
  border-radius:10px;
}


footer{
  height: 10vh;
  border-top: 2px solid white;
}

footer a{
  color: white;
}

footer a:focus{
  color: white;
}
footer p{
  margin: 10px;
  text-align: center;
}

.loader{
  display:flex;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

.loading-spinner{
  width:10rem;
  height:10rem;
  border: 3px solid rgba(255,255,255,0.5);
  border-top: 3px solid white;
  border-radius: 50%;
  animation: 1s spin infinite ease-in-out;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

.popover-body ul{
  list-style-type: none;
  padding:0;
}

.auth-div{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1em 0 1em 0;
}
form input{
  width: 80%;
  padding-left:10px;
  font-size: 1.5em;
  border-radius:20px;
  border:none;
  background: white;
  color: #381b44;
  font-family: 'Roboto', sans-serif;
}

form input:focus{
  outline: none;
}
.auth-form{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width:100%;
}

.auth-div > button{
  color: #381B44;
  background: white;
  border:2px solid #381B44;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding:5px;
  font-size:20px;
  z-index:2;
  margin: 0;
  transition: all .5s;  
}

.auth-div > button:focus{
  color:white;
  background:#381B44;
}

.admin-product-list{
  list-style-type: none;
  padding:0;
  margin-top:2em;
}

.admin-product-list li{
  margin:1em;
  white-space: nowrap;
}

.admin-product button{
  color: #381B44;
  background: white;
  border:2px solid #381B44;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding:1px 5px;
  font-size:20px;
  z-index:2;
  margin: 0;
  transition: all .5s;
}

.admin-product button:focus{
  outline: none;
}
.admin-product button:first-child{
  border-radius: 20px 0 0 20px;
}

.admin-product button:last-child{
  border-radius: 0 20px 20px 0;
  border-left:none;
} 

.auth-div{
  color:white;
}

/* Desktop */
@media only screen  and (min-width : 1000px) {
    /* responsive */
    .Mobile{
      display: none;
    }

    .Desktop{
      display: block;
    }
  
  /* nav */
    .nav{
      border-bottom: 2px solid white;
        display: block !important;
    }
    .nav h2{
      font-size:1.5em;
      line-height: 35px;
      padding-left:0.5em;
    }

    .contact-mobile-link{
      display:none;
    }

    .contact-desktop-link{
      display:inline-block;
    }

    .scrolling-wrapper{
      overflow-x:scroll;
      overflow-y:hidden;
      white-space: nowrap;
    }
    .Card{
      display:inline-block;
      width:28vw;
      height:70vh;
    }

    .swiper-container{
      width:80%;
    }

    .swiper-slide{
      width:100%;
    }
    .footer{
      display:none;
    }

    .searchBar{
      margin: 1em auto 0 auto;
    }

    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: rgba(0,0,0,0); 
      margin: 0 1em;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: white; 
      border-radius:5px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    .cont{
      font-size:23px;
    }

    .center{
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      overflow: hidden;
      height: 85vh;

    }

    .profile{
      position: absolute;
      left:50%;
      transform: translateX(-50%);
    }

    .admin-product{
      display: inline-block;
    }
}
  
@media only screen and (orientation:landscape) and (max-width: 1000px){
  body {
    height: 100vw;
    width:100%;
    transform: rotate(-90deg);
  }
}